body{
  background-color: aqua;
  background-repeat: no-repeat;
  background-size: 130%;
  margin: 0 auto;
  text-align: center;
  
}
.main{
  border: 1px solid rgb(146, 148, 147);
  margin: 0 auto;
  text-align: center;
  width: 50%;
  color: rgb(2, 97, 15);
  font-size: large;
  font-weight: bolder;
  
}




.fom{
  /* border:1px solid red; */
  width:400px;
  height: 30px;
  border: none;
  border-radius: 10px;
  
  
}

.btn{
  border:none;
  padding: 10px;
  color: rgb(255, 248, 249);
  background-color: rgb(20, 20, 220);
  border-radius: 10px;
  font-weight: bolder;
  font-size: large;
  width: 200px;
  margin: 10px;
 
  
}

